<?xml version="1.0"?>
<config>
    <modules>
        <Bootstrap_Carousel>
            <version>0.1.0</version>
        </Bootstrap_Carousel>
    </modules>
    <frontend>
        <routers>
            <carousel>
                <use>standard</use>
                <args>
                    <module>Bootstrap_Carousel</module>
                    <frontName>carousel</frontName>
                </args>
            </carousel>
        </routers>
        <layout>
            <updates>
                <carousel>
                    <file>carousel.xml</file>
                </carousel>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <carousel>
                <use>admin</use>
                <args>
                    <module>Bootstrap_Carousel</module>
                    <frontName>carousel</frontName>
                </args>
            </carousel>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <bootstrap module="carousel" translate="title">
                <title>Twitter Bootstrap</title>
                <sort_order>11</sort_order>
                <children>
                    <carousel module="carousel" translate="title">
                        <title>Carousel</title>
                        <sort_order>0</sort_order>
                        <children>
                            <items module="carousel" translate="title">
                                <title>Banners</title>
                                <sort_order>0</sort_order>
                                <action>carousel/adminhtml_carousel</action>
                            </items>
                        </children>
                    </carousel>
                </children>
            </bootstrap>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Bootstrap_Carousel>
                            <title>Carousel Module</title>
                            <sort_order>10</sort_order>
                        </Bootstrap_Carousel>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <carousel>
                    <file>carousel.xml</file>
                </carousel>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <carousel>
                <class>Bootstrap_Carousel_Model</class>
                <resourceModel>carousel_mysql4</resourceModel>
            </carousel>
            <carousel_mysql4>
                <class>Bootstrap_Carousel_Model_Mysql4</class>
                <entities>
                    <carousel>
                        <table>carousel</table>
                    </carousel>
                </entities>
            </carousel_mysql4>
        </models>
        <resources>
            <carousel_setup>
                <setup>
                    <module>Bootstrap_Carousel</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </carousel_setup>
            <carousel_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </carousel_write>
            <carousel_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </carousel_read>
        </resources>
        <blocks>
            <carousel>
                <class>Bootstrap_Carousel_Block</class>
            </carousel>
        </blocks>
        <helpers>
            <carousel>
                <class>Bootstrap_Carousel_Helper</class>
            </carousel>
        </helpers>
    </global>
    <default>
        <carousel>
            <carousel_config>
                <enabled>0</enabled>
                <animation>random</animation>
                <speed>5000</speed>
                <interval>600</interval>
                <qty_item>4</qty_item>
                <description>0</description>
                <next_back>1</next_back>
                <nav_ctrl>0</nav_ctrl>
            </carousel_config>
        </carousel>
    </default>
</config>